{% extends 'base.html' %} 
{% load static %} 

{% block content %}

<div class="container">
  <h1 class="text-center my-3">Register</h1>

  <form action="{% url 'register' %}" method="POST" class="boxShadowStyle m-2 p-4">
    {% csrf_token %}
    
    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {% for field in form %} {% for error in field.errors %}
      <p>*{{ error|escape }}</p>
      {% endfor %} 
      {% endfor %}
      
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close">
      </button>
    </div>

    {% endif %}

    <div class="mb-3">{{ form.username.label_tag }} {{ form.username }}</div>

    <div class="mb-3">{{ form.password1.label_tag }} {{ form.password1 }}</div>

    <div class="mb-3">{{ form.password2.label_tag }} {{ form.password2 }}</div>

    <div class="mb-3">
      <label for="driver_reg">Register as Driver?</label>
      <select name="driver_reg">
        <option value="0">No</option>
        <option value="1">Yes</option>
      </select>
    </div>

    <input class="btn btnLogin m-2" type="submit" value="Register">
    <a class="btn buttonClass m-2" href="{% url 'login' %}">Login</a>
  </form>
</div>

{% endblock %}
