{% load static %}

<footer class="mt-3 cssFooter">
    <div class="row">
       <div class = "col-md-4 ">
          <h5 class="display-4 ">Contact</h5>
          <br>
          <p style="padding-left: 2rem;"><a href="#"> Chad Williams</a><br>Professor, Department Chair
             <br><i class="bi bi-telephone-fill text-success"></i>(860) 832-2719
          </p>
          <h5 style="padding-left:2rem;">Location <i class="bi bi-geo-alt-fill text-danger"></i></h5>
          <p style="padding-left: 2rem;">Maria Sanford Hall, 303</p>
       </div>
       <div class="col-md-8" style="padding-left: 2rem;">
          <h5 class="display-4">Socialize with Us</h2>
             <br>
          <a href="https://www.facebook.com/"><img src="{% static 'img/facebook.svg' %}" alt="facebook" class="mb-3 hoverAnim"></a>
          <a href="https://twitter.com/" ><img src="{% static 'img/twitter.svg' %}" alt="twitter" class="mb-3 hoverAnim"></a>
          <a href="https://www.instagram.com/"><img src="{% static 'img/instagram.svg' %}" alt="instagram" class="mb-3 hoverAnim"></a>
       </div>
    </div>
 </footer>