{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    {{ message }}

                    <button type="button" class="btn-close"
                            data-bs-dismiss="alert" aria-label="Close">
                    </button>
                </div>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="row">
        <div class="col-12 col-md-5">
            <h2>Book a Ride</h2>

            <form action="{% url 'booking' %}" method="POST">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>*{{ error|escape }}</p>
                            {% endfor %}
                        {% endfor %}

                        <button type="button" class="btn-close"
                                data-bs-dismiss="alert" aria-label="Close">
                        </button>
                    </div>

                {% endif %}

                <div class="mb-3">{{ form.pickup.label_tag }} {{ form.pickup }}</div>

                <div class="mb-3">{{ form.dropoff.label_tag }} {{ form.dropoff }}</div>

                <div class="mb-3">{{ form.depart_date.label_tag }} {{ form.depart_date }}</div>

                <div class="mb-3">{{ form.depart_time.label_tag }} {{ form.depart_time }}</div>

                <div class="mb-3">{{ form.driver.label_tag }} {{ form.driver }}</div>

                <input class="btn buttonClass" type="submit" value="Book Now!"/>
            </form>
        </div>

        <div class="col-12 col-md-7">
            <h2>My Bookings</h2>

            <div class="row row-cols-1 row-cols-md-2 g-2 m-0">
                {% if bookings.count < 1 %}
                    <h2>No Bookings yet!</h2>
                {% else %}
                    {% for booking in bookings %}

                    <div class="col">
                        <div class="card h-100">
                            <div class="card-header">
                                <span class="badge bg-success">
                                    {{ booking.get_status_display }}
                                </span>
                            </div>

                            <div class="card-body">
                                <div class="card-title">
                                    <h4>Ride with Driver: {{ booking.driver.username }}</h4>
                                </div>

                                <div class="card-text">
                                    <span><b>From:</b> {{ booking.pickup }}</span>
                                </div>

                                <div class="card-text">
                                    <span><b>To:</b> {{ booking.dropoff }}</span>
                                </div>

                                <div class="d-flex align-items-center">
                                    {% if booking.status == 1 or booking.status == 2 %}
                                        <a class="btn deleteBtn ms-1" href="{% url 'cancel_booking' booking.id %}">Cancel</a>
                                    {% elif booking.status == 3 %}
                                        <p class="ms-1">Booking was <span class="text-danger">cancelled</span>
                                            <a class="btn deleteBtn" href="{% url 'delete_booking' booking.id %}">Delete</a>
                                        </p>
                                    {% endif %}
                                </div>
                            </div>

                            <div class="card-footer">
                                <p class="card-text">
                                    Created:
                                    <span class="text-muted">{{ booking.created|date:"N j P" }}
                                </span>
                                </p>
                            </div>
                        </div>
                    </div>

                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>

</div>

{% endblock %}