{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="container-fluid">
        <div class="card boxShadowStyle">
            <div class="card-header">Cancel Booking</div>

            <div class="card-body">
                <form action="{% url 'cancel_booking' booking.id %}" method="POST" role="form">
                    {% csrf_token %}

                    <div class="form-group mb-3">
                        <div class="row" style="background-color: white">
                            <div class="input-group input-group-md col-10">
                                <p>Are you sure you want to <span class="text-danger">cancel</span> ?</p>
                                <p><b>Trip with Rider:</b> {{ booking.rider.username }}  </p>
                                <div class="col-12">
                                    <p><b>Driver: </b>{{ booking.driver.username }}</p>
                                </div>
                                <div class="col-12">
                                    <span><b>From:</b> {{ booking.pickup }}</span>

                                </div>
                                <div class="col-12 mt-2">
                                    <span><b>To:</b> {{ booking.dropoff }}</span>

                                </div>  
                                
                            </div>
                            <div class="card-text mt-2">
                                <span><b>When:</b> {{ booking.depart_date|date:"N j Y" }} - <b>Time:</b> {{ booking.depart_time }}</span>
                            </div>
                        </div>
                    </div>

                    <a href="{% url 'booking' %}" class="btn btn-info text-white">
                        No, go back
                    </a>

                    <input type="submit" class="btn deleteBtn" value="Yes, cancel"/>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
