{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <h1>Driver Bookings</h1>

  <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for booking in bookings %}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ booking.get_status_display }}</h5>
          
          <h6 class="card-subtitle mb-2 text-muted">
            {{ booking.created|date:"N j Y" }}
          </h6>

          <p class="card-text">
              {{ booking.pickup }}
          </p>
          
          <p class="card-text">
              {{ booking.dropoff }}
          </p>

          {% if booking.rating == 0 %}
          <a href="#"></a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
