{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<div class="container-fluid">
    <h1 class="text-center pt-2 display-4">Our Reviews</h1>
    <p style="font-size: 18px; margin: 0rem 4.5rem;">
        Our customers are what makes us, us! We try our best so every customer has the best trip possible.
        Here are just a handful of the feedback we've recieved from out riders. Your feedback is always taken into account
        so we can continually improve and offer better service. <a class="btn btn-sm btn-secondary" href="{% url 'add_review' %}">Add a Review</a>
    </p>

</div>
{% endblock %}
