{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <h1 class="text-center pt-2 display-4">Our Team</h1>
    <p style="font-size: 18px; margin: 0rem 4.5rem;"> Our dedicated team ensure that every customer has the best experience possible. 
       From web developers that keep the site running and the drivers that drive the customers 
       to their destination, we make sure you are 100 percent satisfied.</p>
    <div class = "row p-4">
        <div class = "col-lg-6 g-2  text-center">
           <div class="card" >
            <div class="card__inner" id="cardBryan">
               <div class="card__face ">
                 <img src="{% static 'img/Bryan.jpg' %}" class="card-img-top staffImg" alt="img2">
             <div class="card-body text-center">
                <h3 class="card-title text-center">Bryan Orellana</h3>
                <p id="web">Web developer</p>
                <hr>
                <button   class="btn buttonClass" >View Profile &raquo;</button>
             </div>
               </div>
       
               <div class="card__face card__faceBack">
                 <div class="card__content">
                   <div class="card__header">
                     <img src="{% static 'img/Bryan.jpg' %}" alt="head" class="pp">
                   </div>
                   <div class="card__body">
                     <h3>Web Developer</h3>
                     <p>A Senior currently attending Central
                         Connecticut State University pursuing a career in Computer Science. 
                          A focused and determined individual looking for an opportunity to further 
                          develop my programming career.</p>
                   </div>
                 </div>
               </div>
             
            </div>
           </div>
        </div>
        <div class = "col-lg-6 g-2 text-center">
           <div class="card" >
            <div class="card__inner" id="cardCaleb">
               <div class="card__face ">
                 <img src="{% static 'img/Caleb.png' %}" class="card-img-top staffImg" alt="img2">
             <div class="card-body text-center">
                <h3 class="card-title text-center">Caleb Bostic</h3>
                <p id="web">Web developer</p>
                <hr>
                <button   class="btn buttonClass" >View Profile &raquo;</button>
             </div>
               </div>
       
               <div class="card__face card__faceBack">
                 <div class="card__content">
                   <div class="card__header">
                     <img src="{% static 'img/Caleb.png' %}" alt="head" class="pp">
                   </div>
                   <div class="card__body">
                     <h3>Web Developer</h3>
                     <p>Using today’s web developing languages, I make sure that everything runs smoothly in the backend server.</p>
                   </div>
                 </div>
               </div>
             
            </div>
           </div>
        </div>
        
     </div>
 <div class = "row p-4">
        <div class = "col-lg-4 g-2 text-center ">
           <div class="card" >
            <div class="card__inner" id="cardDriverOne">
               <div class="card__face ">
                 <img src="{% static 'img/John.png' %}" class="card-img-top staffImg" alt="img2">
             <div class="card-body text-center">
                <h3 class="card-title text-center">John Smith</h3>
                <p id="web">Taxi Driver</p>
                <hr>
                <button   class="btn buttonClass" >View Profile &raquo;</button>
             </div>
               </div>
       
               <div class="card__face card__faceBack">
                 <div class="card__content">
                   <div class="card__header">
                     <img src="{% static 'img/John.png' %}" alt="head" class="pp">
                   </div>
                   <div class="card__body">
                     <h3>Taxi Driver</h3>
                     <p>An individual that ensures every customer gets the best experience.
                         Safe Driver that will get you to your destination safe and fast.</p>
                   </div>
                 </div>
               </div>
             
            </div>
           </div>
        </div>
        <div class = "col-lg-4 g-2 text-center">
           <div class="card" >
            <div class="card__inner" id="cardDriverTwo">
               <div class="card__face ">
                 <img src="{% static 'img/Maria.jpg' %}" class="card-img-top staffImg" alt="img2">
             <div class="card-body text-center">
                <h3 class="card-title text-center">Maria Williams</h3>
                <p id="web">Taxi Driver</p>
                <hr>
                <button   class="btn buttonClass" >View Profile &raquo;</button>
             </div>
               </div>
       
               <div class="card__face card__faceBack">
                 <div class="card__content">
                   <div class="card__header">
                     <img src="{% static 'img/Maria.jpg' %}" alt="head" class="pp">
                   </div>
                   <div class="card__body">
                     <h3>Taxi Driver</h3>
                     <p>An individual that ensures every customer gets the best experience.
                        Safe Driver that will get you to your destination safe and fast.</p>
                   </div>
                 </div>
               </div>
             
            </div>
           </div>
        </div>
        <div class = "col-lg-4 g-2 text-center">
           <div class="card">
            <div class="card__inner" id="cardDriverThree">
               <div class="card__face ">
                 <img src="{% static 'img/Jose.jpg' %}" class="card-img-top staffImg" alt="img2">
             <div class="card-body text-center">
                <h3 class="card-title text-center">Jose Smith</h3>
                <p id="web">Taxi Driver</p>
                <hr>
                <button   class="btn buttonClass" >View Profile &raquo;</button>
             </div>
               </div>
       
               <div class="card__face card__faceBack">
                 <div class="card__content">
                   <div class="card__header">
                     <img src="{% static 'img/Jose.jpg' %}" alt="head" class="pp">
                   </div>
                   <div class="card__body">
                     <h3>Taxi Driver</h3>
                     <p>An individual that ensures every customer gets the best experience.
                        Safe Driver that will get you to your destination safe and fast.</p>
                   </div>
                 </div>
               </div>
             
            </div>
           </div>
        </div>
     </div>

</div>
<script src="{% static 'js/card.js' %}"></script>

{% endblock %}